<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Settings - Votrl Remote Control</title>
    <link rel="stylesheet" href="./votrl.css">
</head>

<body>
    {% if suc == 1 %}
    <script>
        alert("修改成功!")
    </script>
    {% endif %}
    <div class="container">
        <h2>Settings - Votrl Remote Control</h2>
        <hr />
        <h4>Core</h4>
        <form method="post" action="/shutdown">
            <div class="form-group">
                <input type="hidden" name="shutdown" value="orz">
                <button type="submit" class="red">Shutdown</button>
            </div>
        </form>
        <h4>Basic Settings</h4>
        <form method="post">
            <div class="form-group">
                <label>ScreenShare Max Fps:</label>
                <input type="text" name="maxFps" value="{{ settings["maxFps"] }}">
            </div>
            <div class="form-group">
                <label>ScreenShare Image Width:</label>
                <input type="text" name="imgWidth" value="{{ settings["imgWidth"] }}">
            </div>
            <div class="form-group">
                <label>Scroll Flexibility:</label>
                <input type="text" name="scrollFlexibility" value="{{ settings["scrollFlexibility"] }}">
            </div>
            <div class="form-group">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</body>

</html>